.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
  }
  
  .auth-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .auth-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .auth-input-group {
    margin-bottom: 20px;
  }
  
  .auth-input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .auth-error {
    color: red;
    margin-bottom: 20px;
  }

  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .auth-box p {
    margin-top: 20px;
    font-size: 1rem;
  }
  
  .auth-box p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .auth-box p a:hover {
    text-decoration: underline;
  }
  